.inputbox{
  display: flex;
  justify-content: center;
}

input{
  width: 300px;
  height: 30px;
}

input:hover{
  background-color: #9dc4f0;
  border: #4f92df;
}

button{
  width: 100px;
  cursor: pointer;
}

button:hover{
 background-color:  #1b0f86;
 color: whitesmoke;
 border: none;
}

.biginput{
  display: flex;
  background-color: #a1dddd;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image:  repeating-linear-gradient(45deg, #1b0f86 25%, transparent 25%, transparent 75%, #1b0f86 75%, #1b0f86), repeating-linear-gradient(45deg, #444cf7 25%, #e5e5f7 25%, #e5e5f7 75%, #444cf7 75%, #444cf7);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  height: 60px;
  width: 500px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 445px;
}

.imageinfoget{
  justify-content: center;
  align-items: center;
  
}
.App{
  justify-content: center;
  align-items: center;
}