.img{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  align-content: center;
  text-align: center;
  width: 500px;
  border-radius: 10px;
  margin-bottom: 25px;
}
.bounding-box{
  position:absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}
.biggest{
  position: relative;
}