.App{
  text-align: center;
}
#tsparticles{
  z-index: -2000;
  position: absolute;

}
body {
  font-family: cursive;
  background: linear-gradient(45deg,  #30e9ff, #0d0551);
  background-attachment: fixed;
}